<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <connectionStrings>
    <add name="post" connectionString="Data Source=LAPTOP-O5LPFNLK;
         Initial Catalog=BirkesoeDeltagere;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>